<meta name="description"
    content="{{ description }}" />

<title>{{ title }}</title>
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ app_home }}" />
<meta property="og:image" content="./src/assets/sutaa.webp" />
<meta property="og:description" content="{{ description }}" />
